.button {
  display: flex;
  width: 58px;
  height: 60px;
  font-size: 20px;
  background-color: #ade8ff;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: bold;
}

.button:last-child,
.button:nth-last-child(2) .button:nth-last-child(3) {
  flex: 1 1;
}

.button:not(:last-child) {
  border-bottom: 2px solid white;
}

.button:not(:nth-child(4n)) {
  border-right: 2px solid white;
}

.button img {
  width: 50px;
  height: 50px;
}

.button:hover {
  background-color: white;
}

.button:last-child:hover {
  background-color: rgb(221, 221, 221);
}
