.input-data {
  display: flex;
  height: 25px;
  font-size: 10px;
  align-items: center;
  justify-content: flex-end;
  color: white;
  overflow: hidden;
  background-color: black;
  border: none;
  text-align: right;
  resize: none;
}

.input-data:focus {
  outline: none;
}
